@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Signika&display=swap');



/*----------------------general use----------------------------------*/
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.border-style{
    border: 5px black solid;
    background-color: #c7c3c3ed;
}
/*----------------------warehouse section----------------------------------*/
/* maybe use the z index to acheive a floating diamond plate back ground with sections? */
.warehouse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 50%;
     border-radius: 4px;
}
.img-description{
    text-align: center;
    font-weight: 700;
   

}
/*----------------------header----------------------------------*/
/*----------------------footer----------------------------------*/
footer{
    background-color: rgb(109, 161, 240);
    font-family: "Lato", sans-serif;
   padding: 15px;
    text-align: center;
     border: 5px black solid;
}

.big-icon{
    font-size: 70px;
   display: inline-block;
    color: orange;
    text-align: center;
    margin-top: 15px;
}
.big-icon:hover{
   
    color: rgb(124, 81, 2);
}
.download-p{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 28px;    

}
.div-center{
    display: inline-block;
    text-align: center;
}
.comment-form{
    display: block;
    text-align: center;
 
}
form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 15px;
    margin-bottom: 15px;
  
}

.social {

  margin-top: 80px;
}
.social a {
      padding: 5px;
  font-size: 26px;
  color: black;
}
/*----------------------callout----------------------------------*/
.btn--one{
   background-color: gold;
   color: black;
}
.btn--one:hover{
   background-color: #887304;
   color: black;
}

.back-drop{
    background-image: url("../images/machinery.jpg");
    background-size: cover;
   
    height: 100vh;
    z-index: 1;

}
.jumbotron{
    background-color: rgba(218, 195, 195, 0.85);
    margin-top: 120px;
    padding: 5px;
    border-radius: 25px;
}
.jumbotron-text2{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 35px;
}
.lead{
    border-radius: 25px;
}
.jumbotron-header{
    font-family: "Lobster", sans-serif;
    font-size: 65px;
    color: rgb(255, 232, 22);}
     
     
@media screen and (max-width: 400px){

   .jumbotron-header{
    font-family: "Lobster", sans-serif;
    color: rgb(255, 232, 22);
    font-size: 2.5rem;}
}
.mail-text{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 25px;

}

/*----------------------nav----------------------------------*/
.nav-style{
    background-color: rgba(0, 0, 0, 0.65);
   
    
}
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /*From W3schools sticky navbar example*/
}
nav a {
     color: white;
     }
/*----------------------Value Statment----------------------------------*/
.owner{
    padding: 15px;
   text-align: center;
   display: inline-block;
    right: -10%;
    
}
.owner-pic{
    height: auto;
    width: 300px;
    border-radius: 10px;
    border: 3px #fafafa solid;
    max-width: 100%;
}
  
.signature{
    font-family: "Lobster", sans-serif;
    font-weight: 700;
}
.value{
    margin: 20px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    right: 15px;
    padding: 15px;
}

.value-map{
    display: block;
}
.value-style{
      padding: 15px;
    margin: 20px;
    text-align: center;

}
/*---------------------------------map------------------------------------------*/
.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
     
}
/*---------------------------------supported machinery------------------------------------------*/
.supported{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 22px;
}
/*---------------------------------Meta styles------------------------------------------*/
body{
    background-image: url("../images/diamond-plate.jpg");
    background-repeat: repeat;
    background-size: auto;
}
html {
    scroll-behavior: smooth;
    
}
.section-floater{
  width: 95%;
  margin-left: auto;
  margin-right:auto;
  border-radius: 25px;
}
