

/*----------------------warehouse section----------------------------------*/

.warehouse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 50%;
}
.img-description{
    text-align: center;
    font-weight: 700;

}
/*----------------------header----------------------------------*/
/*----------------------footer----------------------------------*/
/*----------------------callout----------------------------------*/
/*----------------------nav----------------------------------*/
/*----------------------Value Statment----------------------------------*/
.owner{
    padding: 15px;
   text-align: center;
    
}
